.title {
  font-family: 'Roboto Slab', serif;
  color: #2c5d63;

}
/* cards */

.card {
    width: 20rem;
    height: 10rem;
    margin: 40px;
}

.card-text {
 color: #f5f5f5;
 font-family: 'Roboto Slab', serif;
 margin-top: 0px;

}

.card-titulo {
  color: #f5f5f5;
  font-family: 'Roboto Slab', serif;
  margin-bottom: 0px;
}
.card-img {
  margin-top: 75px;
  margin-left: 15px;
  width: 25%;
}
.contenidoCard {
  color: #f5f5f5;
  font-family: 'Roboto Slab', serif;

}
.nav-link {
  color: #f5f5f5;
  font-family: 'Roboto Slab', serif;

}

.nav-link:hover{
 text-decoration: none;
 background-color: #fff;
 color:#283739;
}

.admin-acciones:hover{
  
  color: #2c5d63;
}

.admin-acciones{
  
  color: #fff;
}