.carousel-control-prev-icon{
  	background-color: #a9c52f;

  }

  .carousel-control-next-icon{
  	background-color: #a9c52f;
  }

  #inam{
  	background-color: #f5f5f5;
  	height: 400px;
  }

  /*card slide contenedor*/

 #mi-card{
    width:250px;
    height: 323px; 
   
  }


 /*imagen de la card del slide de sugerencias*/
.card-img-top{
	display:block;
	margin:auto;
	padding-top: 5px;
	padding-bottom: 5px;
}
	
.card:hover .imagen {
	-webkit-transform:scale(1.3);transform:scale(1.3);}

.card {overflow:hidden;}

/*contenido de la card /titulo de la card*/
.card-title {
   color: #283739;
   font-size: 15px;
   font-weight: bold;
   font-family: "Roboto Slab", serif;
   border-bottom: 2px solid #f5f5f5;
   font-family: "Roboto Slab", serif;

}

.ancla-titulo:link {
  text-decoration:none;
  color: #283739;
}

.ancla-titulo:visited{
  text-decoration:none;
  color: #283739;
}


.ancla-titulo:hover{
  text-decoration:none;
  color: #283739;
  cursor:pointer;
}

.carrito{
 text-decoration:none;
  color: #283739;
}

.carrito:visited{
text-decoration:none;
  color: #283739;
}

.carrito:link{
text-decoration:none;
  color: #283739;
}

.carrito:hover{
text-decoration:none;
  color: #283739;
  cursor:pointer;
}


.prod{
   color: #a9c52f;
   font-size: 15px;
   font-weight: bold;
   font-family: "Roboto Slab", serif;
}

/*estilos del stock*/
.card-text{
	display: block;
	margin:auto;
	background-color: #f0134d;
	color: #f5f5f5;
	width: 100px;
	text-align: center;
	font-family: "Roboto Slab", serif;

}


/*estilos de la imagen del detalle*/

#card-detalle{
	border:none;
	width: 250px;
	margin-left: auto;
    margin-right: auto;
	display:block;

}

/*estilos descripción*/
.card-text-det{
	font-family: background-color: #fff;
	font-family: "Roboto Slab", serif;
	color: #283739;
	font-size: 20px;

}

/*detalle estilos*/
.detalle-titulo{
   color: #283739;
   font-size: 40px;
   font-weight: bold;
   font-family: "Roboto Slab", serif;
   border-bottom: 2px solid #f5f5f5;
   text-align: center;
}

.stock-det{
background-color: #f0134d;
color: #fff;
text-align: center;
font-family: "Roboto Slab", serif;
font-size: 30px;
width: 150px;
}

.detalle-precio{
   color: #283739;
   font-size: 30px;
   font-weight: bold;
   font-family: "Roboto Slab", serif;
  
   
}

/*estilos feriante*/
.ancla-titulo-feriante{
	 color: #283739;
	 font-size: 25px;
	 font-family: "Roboto Slab", serif;
}
.ancla-titulo-feriante:link {
  text-decoration:none;
  color: #283739;
}

.ancla-titulo-feriante:visited{
  text-decoration:none;
  color: #283739;
}


.ancla-titulo-feriante:hover{
  text-decoration:none;
  color: #283739;
  cursor:pointer;
}

/*estilo botón de reserva*/
.reservar{
  display: block;
  margin:auto;
  color: #283739;
  font-family: 'Roboto Slab', serif;
  padding-top: 2px;
  font-size: 18px;
  width: 79px;

}

.reservar:hover {
  background-color: #a9c52f;
  color: #fff;
  font-family: 'Roboto Slab', serif;
  font-weight: bold; 

 }

.reservar:link {
  text-decoration:none;
  
}
