section{
	background-color: #fff;
	font-family: "Roboto Slab", serif;
}

.titulo {
  text-shadow: 2px 2px 2px #a9c52f;
  font-size: 60px;
  color: #f5f5f5;
}


.img-feriante{
	display:block;
	margin:auto;
}

.card:hover .foto-ancla {
	-webkit-transform:scale(1.1);transform:scale(1.1);}

.card {overflow:hidden;}

.titulo-feriante{
   color: #a9c52f;
   font-size: 30px;
   font-family: "Roboto Slab", serif;
   border-bottom: 2px solid #f5f5f5;
   text-align: center;

}



.ancla-t{
   color: #a9c52f;
   font-family: "Roboto Slab", serif;
   border-bottom: 2px solid #f5f5f5;
}

.ancla-t:link {
  text-decoration:none;
  color: #283739;
}

.ancla-t:visited{
  text-decoration:none;
  color: #283739;
}


.ancla-t:hover{
  text-decoration:none;
  color: #283739;
  cursor:pointer;
}

.page-link{
  color: #283739;
  font-weight: normal;
  background-color: #fff;

}

.page-link:hover{
text-decoration:none;
background-color: #fff;
color: #a9c52f;
 
}