/* footer */
.footer {
	background-color: #a9c52f;
	font-family: "Roboto Slab", serif;
	color: #fff;

}
 
}
/*iconos*/
.svg-icon {
  width: 2em;
  height: 2em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill:#2c5d63;

}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}

/*descripción del footer /texto*/
.footer-descripcion{
	color: #283739;
	font-family:"Roboto Slab", serif; 
  text-align: justify;
 
}

/* items de secciones y categoria*/
.lista{
	color: #283739;
	font-family:"Roboto Slab", serif;

}
/*estilos de los items de la lista + botones*/
.btn { 
  background-color:transparent; 
  color: #f5f5f5;
  font-family: 'Roboto Slab', serif;
  padding-top: 2px;
  font-size: 18px;
  }

.lista:hover{
color: #f5f5f5;
font-family: 'Roboto Slab', serif;
font-weight: bold
}

a.lista:link{
  text-decoration:none;
}

.btn:hover {
  background-color: transparent;
  color: #2c5d63;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;       
 }

 .institucionales {
  height: 65px;
 }