/*botones */
.btn {
  font-family: 'Roboto Slab', serif; 
  background-color: #2c5d63; 
  color: #fff;
  font-size: 15px;
}
.btn:hover {
background-color: #fff;        
}
/*label form*/

label{  
		font-family: 'Roboto Slab', serif; 
		color: #283739;
		font-size: 15px;
	}

.title {
  font-family: 'Roboto Slab', serif;
  color: #2c5d63;


}

.container {
font-family: 'Roboto Slab', serif;

}	

.form_error {
    display: block;
    margin: 4px 0 0;
    font-size: 12px;
    color: #FF374A;
}

.nav-link {
  color: #f5f5f5;
  font-family: 'Roboto Slab', serif;

}

.nav-link:hover{
 text-decoration: none;
 background-color: #fff;
 color:#283739;
}
/* tabla */

.title_table{
 font-family: 'Roboto Slab', serif;
 color:#283739;
 font-size: 20px;
 font-weight: normal;

}
.contenido_table {
  font-family: 'Roboto Slab', serif;
 color:#2c5d63;
 font-size: 18px;
 font-weight: normal;
}



