::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #fff !important;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #fff;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #fff;
}


.btn-log {
       font-family: 'Roboto Slab', serif; 
       background-color: #a9c52f; 
       color: #fff;
       font-size: 15px;
        border-radius: 100px;
        width: 25%;

  }
   
   .btn-log:hover {
     background-color: #fff;        
  }

 /*boton recuperar contraseña*/
 .boton{
 	font-family: 'Roboto Slab', serif; 
    color: black;
    font-size: 15px;

 }
#tit {
  text-align: center; 
  color:#283739; 
  font-family: 'Roboto Slab', serif;
}
.boton:hover {
  background-color: transparent;
  color: #2c5d63;
  font-family: 'Roboto Slab', serif;
  font-weight: bold; 
        
 }

 /*estilos label*/

 /*INPUTS*/
label{
   font-family: 'Roboto Slab', serif;
   text-align: center;

 }
.form-control {
  border-radius: 100px;
  background-color: #a9c52f;
  width: 75%;

}







