.btn {
       font-family: 'Roboto Slab', serif; 
       background-color: #2c5d63; 
       color: #fff;
       font-size: 15px;

  }
   
   .btn:hover {
     background-color: #fff;        
  }

 /*boton recuperar contraseña*/
 .boton{
 	font-family: 'Roboto Slab', serif; 
    color: black;
    font-size: 15px;

 }
#tit {
  text-align: center; 
  color:#283739; 
  font-family: 'Roboto Slab', serif;
}
.boton:hover {
  background-color: transparent;
  color: #2c5d63;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;       
 }

 /*estilos label*/

 label{
   font-family: 'Roboto Slab', serif;
 
 }

 /*INPUTS*/
 label{
   font-family: 'Roboto Slab', serif;

 }

 .containerCard {
   background-color: #f5f5f5;padding-top: 15px; padding-bottom: 15px;
 }