.titulo {
	font-family: 'Roboto Slab', serif;
  	color: #283739;
}

.foto {
	border: 5px solid #a9c52f;
	width: 300px;
	margin-bottom: 15px;
}
.fotoferiante {
  margin-bottom: 30px;
}

.btn {
  font-family: 'Roboto Slab', serif; 
  background-color: #2c5d63; 
  color: #fff;
  font-size: 15px;
}
.btn:hover {
background-color: #fff;        
}

