.btn {
  font-family: 'Roboto Slab', serif; 
  background-color: #2c5d63; 
  color: #fff;
  font-size: 15px;
}
.btn:hover {
background-color: #fff;        
}

.tit_principal {
	font-family: 'Roboto Slab', serif;
  	color: #283739;
} 
section{
	background-color: #fff;
	font-family: "Roboto Slab", serif;
    font-weight: none;

}

.titulo {
  text-shadow: 3px 3px 10px #283739;
  font-size: 80px;
  color: #fff;
  font-weight: bold;

}


.col-lg-9 {
	padding-top: 20px;
	margin-top: 20px;
	background-color: #fff;
}

/*imagen de la card*/
.img-prod{
	display:block;
	margin:auto;
	padding-top: 5px;
	padding-bottom: 5px;

}


/*contenido de la card /titulo de la card*/
.card-title {
   color: #2c5d63;
   font-size: 20px;
   font-family: "Roboto Slab", serif;
   border-bottom: 2px solid #f5f5f5;
   text-align: center;
   font-weight: none;
}

.ancla-titulo:link {
  text-decoration:none;
  color: #2c5d63;
}

.ancla-titulo:visited{
  text-decoration:none;
  color: #2c5d63;
}


.ancla-titulo:hover{
  text-decoration:none;
  color: #2c5d63;
  cursor:pointer;
}

.carrito{
 text-decoration:none;
  color: #283739;
}

.carrito:visited{
text-decoration:none;
  color: #283739;
}

.carrito:link{
text-decoration:none;
  color: #283739;
}

.carrito:hover{
text-decoration:none;
  color: #283739;
  cursor:pointer;
}


.prod{
   color: #a9c52f;
   font-size: 18px;
   font-family: "Roboto Slab", serif;
}

.card-text{
	display: block;
	margin:auto;
	background-color: #f45905;
	color: #f5f5f5;
	width: 100px;
	text-align: center;
	font-family: "Roboto Slab", serif;

}

/*estilo categorias/*
/*título de la categoría*/
h3{
	font-size: 25px;
	color: #2c5d63;
}

.page-link{
	color: #283739;
	font-weight: normal;
	background-color: #fff;

}

.page-link:hover{
text-decoration:none;
background-color: #fff;
color: #a9c52f;
 
}

/* estilos */

input{
	background-color: #f5f5f5;
	width: 40px;
	height: 30px;
	text-align: center;
	padding-left: 2px;

}

.reservar{
	border:none;
	font-size: 15px;
	font-family: "Roboto Slab", serif;
	color: #283739;
	background-color: #fff;

}

#cantidad{
	border: 0.5;
	background-color: #f5f5f5;
	color: black;
	border-color: #2c5d63;
	text-align: center;
	width: 40px;
	position: center;
}


/*paginación*/



#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;


}

#custom-search-input button{
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
    padding-top: 4px;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

.mensaje{
	padding-top: 50px;
	padding-left: 250px;
	font-family:  "Roboto Slab", serif;
	color: #283739;
}

/*filtro*/

.selector{
	background-color: #fff;
	height: 30px;
	width: 214px;
	border: #979797;
    color: #696464;

}

.selector:focus{
	
	color: #696464;	
}


.filtro{
	margin-top: 90px;
}


.filtrar-boton{
    background-color: #fff;
    border-color: #fff;
    border:none;
}

.filtro-m{
	color: #696464;
	padding-bottom: 5px;
	font-size: 12px;
}

.fas .fas-filter{
	background-color: #fff;
}