section{
	background-color: #fff;
	font-family: "Roboto Slab", serif;
    font-weight: none;

}

.col-lg-9 {
	padding-top: 20px;
	margin-top: 20px;
	background-color: #fff;
}

/*imagen de la card*/
.img-prod{
	display:block;
	margin:auto;
	padding-top: 5px;
	padding-bottom: 5px;

}


/*contenido de la card /titulo de la card*/
.card-title {
   color: #a9c52f;
   font-size: 20px;
   font-family: "Roboto Slab", serif;
   border-bottom: 2px solid #f5f5f5;
   text-align: center;
   font-weight: none;
}

.ancla-titulo:link {
  text-decoration:none;
  color: #a9c52f;
}

.ancla-titulo:visited{
  text-decoration:none;
  color: #a9c52f;
}


.ancla-titulo:hover{
  text-decoration:none;
  color: #283739;
  cursor:pointer;
}

.carrito{
 text-decoration:none;
  color: #283739;
}

.carrito:visited{
text-decoration:none;
  color: #283739;
}

.carrito:link{
text-decoration:none;
  color: #283739;
}

.carrito:hover{
text-decoration:none;
  color: #283739;
  cursor:pointer;
}


.prod{
   color: #283739;
   font-size: 18px;
   font-family: "Roboto Slab", serif;
}

.card-text{
	display: block;
	margin:auto;
	background-color: #f45905;
	color: #f5f5f5;
	width: 100px;
	text-align: center;
	font-family: "Roboto Slab", serif;

}

/*estilo categorias/*
/*título de la categoría*/
h3{
	font-size: 25px;
	color: #2c5d63;
}

.page-link{
	color: #283739;

}

.page-link:hover{
text-decoration:none;
background-color: #a9c52f;
color: #fff;
 
}

/* estilos */

input{
	background-color: #f5f5f5;
	width: 40px;
	height: 30px;
	text-align: center;
	padding-left: 2px;

}

.reservar{
	border:none;
	font-size: 15px;
	font-family: "Roboto Slab", serif;
	color: #283739;
	background-color: #fff;


}

