/*botones */
.btn-reg {
  font-family: 'Roboto Slab', serif; 
  color: #2c5d63;
  font-size: 15px;
}
.btn-reg:hover {
background-color: #2c5d63;   
color: #fff;
}
.titulo {
	text-shadow: 2px 2px 2px #f5f5f5;
	font-size: 30px;
	color: #2c5d63;
	padding-bottom: 20px;
	padding-top: 20px;
}

/*label form*/

label{
		font-family: 'Roboto Slab', serif; 
		color: #283739;
		font-size: 15px;
	}


/*titulos*/


.container {
font-family: 'Roboto Slab', serif;
}	

.ancla-2{
	color: #a9c52f;
}

.ancla-2:hover{
	text-decoration: none;
	color: #2c5d63;
}