/*botones */
.btn {
  font-family: 'Roboto Slab', serif; 
  background-color: #2c5d63; 
  color: #fff;
  font-size: 15px;
}
.btn:hover {
background-color: #fff;        
}
.titulo {
	text-shadow: 2px 2px 2px #f5f5f5;
	font-size: 30px;
	color: #283739;
	padding-bottom: 20px;
	padding-top: 20px;
}

/*label form*/

label{
		font-family: 'Roboto Slab', serif; 
		color: #283739;
		font-size: 15px;
	}


/*titulos*/


.container {
font-family: 'Roboto Slab', serif;
}	

.ancla-2{
	color: #2c5d63;
}

.ancla-2:hover{
	text-decoration: none;
	color: #a9c52f;
}

.form_error {
    display: block;
    margin: 4px 0 0;
    font-size: 12px;
    color: #FF374A;
}