{% extends 'base.html' %}
{% load static %}
{% block titulo %} Acerca de Feria Cultiva {% endblock titulo%}
{% block contenido %}  
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/informativa.css' %}">
</head>

<section class="my-1">
	<div class="container" style="padding-top: 75px;">
		<h1 style="text-align: left;">{{object.titulo}}</h1>
		<div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-4">
          	<object  data="{% static 'img/archivo.pdf' %}" style="width: 500px; height: 600px;"></object>
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-4">
            <img src="{{object.foto.url}}" class="img-circle">
            <div class="p-4">
            	<p class="texto">{{object.contenido}}</p>
            </div>
          </div>
        </div>
      </div>
			
	</div>
</section>

{% endblock contenido%}

<!-- <a href="{% url 'publicacion:modificarPublicacion' object.pk %}">modificar</a>
			<a href="{% url 'publicacion:eliminarPublicacion' object.pk %}">eliminar</a> -->