{% extends 'base.html' %}
{% load static %}
{% block titulo %} Acerca de Feria Cultiva {% endblock titulo%}
{% block contenido %}  
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/informativa.css' %}">
</head>

<header class="masthead" style="background-image: url({% static 'img/ambysalud2.png' %}) ">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light titulo">Ambiente y Salud</h1>
        <p class="lead"></p>
      </div>
    </div>
  </div>
</header>


<section class="py-5"><!-- Page Content -->
	<div class="container"><!-- Container página principal -->
    <div class="row">
      <div class="col-md-12"> 
        <div class="panel">
         {% for p in object_list %}
            <div class="row">    
              <br>
                <div class="col-md-3 col-sm-3 text-center">
                   <a class="story-img" href="#">
                  <img src="{{p.foto.url}}" class="img-circle"></a>
                </div>
              <div class="col-md-8 col-sm-9">
                <h2 class="subt">{{p.titulo}}</h2>
                <div class="row">
                  <div class="col-xs-9">
                    <p class="texto">{{p.contenido}}</p>                    
                  </div>
                  <div class="col-xs-3">
                  </div>
                </div>
                <br><br>
              </div>
            </div>
          <hr>
      {% endfor %}
    </div>
      </div>
    </div>
  </div>
</section>

{% endblock contenido%}


<!-- {% if object_list|length != 0 %}
	{% for p in object_list %}
	<div class="row">
		<label for="">{{p.foto}}</label>
		<label for="">{{p.titulo}}</label>
		<label for="">{{p.contenido}}</label>
	</div>
	<a href="{% url 'publicacion:detallePublicacion' p.pk %}">ver</a>
	{% endfor %}
{% else %}
	<label for="">No publicaciones</label>
{% endif %}<a href="{% url 'publicacion:agregarPublicacion' %}">agregar</a> -->