{% extends 'base.html' %}
{% load static %}
{% block titulo %} Detalle Feriantes {% endblock titulo%}
{% block contenido %}  
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/det-feriante.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    
</head>

<!-- contenido de la página -->
<section class="py-5" >
<!-- Page Content -->
<div class="container">

              <!-- Portfolio Item Heading -->
              <h1 class="my-1 ">
                  DETALLE DE FERIANTE
              </h1>
               <h1 class="feriante-titulo">{{object.encargado.first_name}}</small></h1>
    
    <div class="row detalle-card" >
        <div class="col-md-6" >
              <!--contenedor de la imagen-->
          <div class="card mb-3" id="card-detalle">
            <div class="row no-gutters">
              <div class="col-md-4" >
              {% if object.foto_feriante %}
                <img class="imagen-detalle" src="{{object.foto_feriante.url}}"  alt="imagen" style="width: 500px; height: 350px;"  >
              {% else %}
                <img class="img-mi-detalle" src="" alt="No existe imagen" style="width: 250px; height: 400px; ">
              {% endif %}
              </div>
            </div>
          </div>   
      </div>



 <!--descripción -->
  <div class="col-md-6" style="padding-top: 50px;">
    <h5 class="detalle-titulo">NOSOTROS </h5>
    <p class="card-text-det">{{object.descripcion}}</p>
    <h5 class="detalle-titulo">CONSULTAS </h5>
    <p class="card-text-det"> <i class="fas fa-phone"></i> {{object.encargado.telefono}}</p>
    <p class="card-text-det"> <i class="fas fa-envelope-square"></i>  {{object.encargado.email}}</p>
    <div class="">
      {%  if object.delivery == False %}
      <p class="item-d mx-auto">NO HACEMOS ENTREGA A DOMICILIO</p>
      {% else %}
      <p class="item-d mx-auto">HACEMOS ENTREGA A DOMICILIO
      <span class="glyphicon glyphicon-ok"></span>
      </p>
      {% endif %}

    </div>
       

  </div>


<!--social_footer_ul ends here-->
</div>
  

  <div class="container-fluid">
     {% if product|length > 0 %}
    <h1 class="my-1 ">
     NUESTROS PRODUCTOS
    </h1>
     <div class="row row-productos" >
    
             {% for p in product %}
               <div class="col-lg-3 col-md-3 mx-auto"  style="padding-bottom: 70px;">

                 <div class="card h-100" >
                   <a href="{% url 'producto:Detalle' p.pk p.categoria.nombre %}" class="imagen" >
                     {% if p.foto_producto %}
                             <img class="img-prod" style="width: 80px; height: 150px; " 
                             src="{{p.foto_producto.url}}" alt="encontre">
                         {% else %}
                             <img class="img-prod" style="width: 80px; height: 150px;" 
                             src="" alt="No existe imagen" >
                     {% endif %}
                     </a>
                   <div class="card-body mx-auto">
                     <h4 class="card-title">
                       <a href="{% url 'producto:Detalle' p.pk p.categoria.nombre %}" class="imagen-titulo-card "> {{p.nombre}} </a>
                     </h4>
                   </div>
                 </div>
               </div>
             {% endfor %}
           
    </div><!--fin del row-->
   {% endif %}
</div><!--fin del las cards container fluid-->
    
  </div>

   

</section>

{% endblock contenido%}

