{% load static %}
<!DOCTYPE html>
<html lang="es">
 <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Latest compiled and minified CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" comrossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Fuente google font-->
     <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
    <!-- Estilo css-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">

    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- icono de la página -->
    <link rel="icon" href="{% static 'img/logo.png' %}" type="image/x-icon">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!-- título de la pestaña-->
    <title>Listar Feriantes</title>
  </head>


  <body style='font-family: "Roboto Slab", serif;' >
  <!--navbar admin-->
   <nav class="navbar navbar-expand-lg fixed-top" style="background-color: #283739;">
    <div class="container">
      <a class="navbar-brand" style="color: #f5f5f5;" href="{% url 'start' %}">Feria Cultiva</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" style="color: #f5f5f5;"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'start' %}">Ir al sitio
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
                <a class="nav-link" href=" {% url 'panelAdmin' %} "> Volver </a>
          </li>
         <li class="nav-item">
                <a class="nav-link" href="#"></a>
              </li>
              <li class="nav-item dropdown">
                {% if user.is_authenticated %}
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Hola! {{user.username}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesión</a>
                </div>
                {% endif %}
            </li>
        </ul>
      </div>
    </div>
  </nav>



<section class="py-5" style="background-color: #fcfafa;">
  <!-- titulo y subtitulo de la pagina -->
<div class="container">

   <div class="title col-md-12 mx-auto">
    <h3 class="text-center" style="margin-top: 50px;">LISTADO DE FERIANTES</h3>
   </div>
   <div class="row"> 
    <div class="container h-100 mx-auto" style="padding-top: 15px; padding-bottom: 15px;" >

      {% if object_list|length == 0 %}
        <label for="">No hay feriantes.</label>

      {% else %}


      <table class="table table-hover table-borderless  shopping-cart-wrap mx-auto w-80">
        <thead class="text-muted" style="">
          <tr style="border-bottom: #283739 2px solid; border-top:  #283739 2px solid; ">
                  <th scope="col" width="150" class="title_table text-center">ID</th>
                  <th scope="col" width="100" class="title_table mx-auto">FERIANTES</th>
                  <th scope="col" width="50" class="title_table mx-auto">ELIMINAR</th>
          </tr>
        </thead>
          <tbody>

                {% for p in object_list %}
                {% if p.encargado.is_active %}
                <tr>
                  <th scope="row" class="contenido_table text-center">{{p.pk}}</th>
                  <th scope="row" class="contenido_table">{{p.encargado.first_name}}</th>

                  <th scope="row">
        <!-- Botón en HTML (lanza el modal en Bootstrap) -->
          <a href="#victorModal{{p.pk}}" style="color: #da2d2d;" role="link" class="btn-link" data-toggle="modal">Eliminar</a>
                      <!-- Modal / Ventana / Overlay en HTML -->
          <div id="victorModal{{p.pk}}" class="modal fade">
           <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">¿Estás seguro?</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>   
                </div>
              <div class="modal-body">
               <p>¿Seguro que quieres borrar este elemento?</p>
                <p class="text-warning"><small>Si lo borras, no podrás recuperarlo.</small></p>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Cerrar</button>
                                    
                <form action="{% url 'feriante:eliminarFeriante' p.pk %}" method="POST">
                {% csrf_token %}
                <button class="btn" type="submit" href="">eliminar</button>
                </form>
              </div>
            </div>
          </div>


                  </th>

                </tr>
                {% endif %}
                {% endfor %}  
              </tbody>
            </table>
      {% endif %}

    </div>
      </div><!--fin row-->
  </div>  <!-- /fin container -->     
</section>
<footer class="fixed-bottom" style="background-color: #283739; height: 60px;">
        <div class="container">
          <p class="m-0 text-center text-white" style="color: #f5f5f5; padding-top: 17px;">Copyright &copy; IT4Connect 2019</p>
        </div>
</footer>


  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    <!-- video -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body>
</html>