{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Latest compiled and minified CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" comrossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">


    <!-- Fuente google font-->
     <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
    <!-- Estilo css-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/admin.css' %}">
 
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- icono de la página -->
    <link rel="icon" href="{% static 'img/logo.png' %}" type="image/x-icon">

    <!-- título de la pestaña-->
    <title>Panel de Administración</title>

  </head>
  
  <body style='font-family: "Roboto Slab", serif;'>
 
<header>
<!--navbar admin-->
  <nav class="navbar navbar-expand-lg fixed-top" style="background-color: #2c5d63;">
    <div class="container">
      <a class="navbar-brand" style="color: #f5f5f5;" href="{% url 'start' %}">Feria Cultiva</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" style="color: #f5f5f5;"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'start' %}">Ir al sitio
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
                {% if user.is_authenticated %}
             <a class="nav-link" href="{% url 'logout' %}">Cerrar sesión</a>
                {% endif %}
            </li>
        </ul>
      </div>
    </div>
  </nav>
  </header>
  
  <section style="padding: 15px; margin-bottom: 75px;">
   
      
    <div class="container-fluid mx-auto">

      <div class="col-lg-8 mx-auto" style="padding-top: 75px;">
              
        <div class="row">
          <div class="title mx-auto">
           <h3> BIENVENIDO AL PANEL DE ADMINISTRACION</h3> 
          </div>
          
          <div class="col-lg-6 col-xs-12 text-center">

            <div class="card bg-info">
            <a href="{% url 'feriante:agregar' %}" class="contenidoCard">
              <img src="{% static 'img/feriante.png' %}" class="card-img w-25" alt="...">
                <div class="card-img-overlay">
                  <h5 class="card-title">Feriante</h5>
                  <p class="card-text">Agregar</p>
                </div>
              </a>
            </div>

            <div class="card bg-success">
              <a href="{% url 'publicacion:listarPublicacionesAdmin' %}" class="contenidoCard">
              <img src="{% static 'img/ambienteSalud.png' %}" class="card-img" alt="...">
                <div class="card-img-overlay">
                  <h5 class="card-title">Ambiente y Salud</h5>
                  <p class="card-text">Actualizar Contenido</p>
                </div>
              </a>
            </div>

          </div>

          <div class="col-lg-6 col-xs-12 text-center">
          
            <div class="card bg-warning">
              <a href="{% url 'feriante:listarFeriantes' %}" class="contenidoCard">
              <img src="{% static 'img/ferianteslistar.png' %}" class="card-img w-25" alt="...">
                <div class="card-img-overlay">
                  <h5 class="card-title">Lista de Feriantes</h5>
                  <p class="card-text">Eliminar</p>
                </div>
              </a>
            </div>

            <div class="card bg-danger">
              <a href="{% url 'evento:listarEventosAdmin' %}" class="contenidoCard">
              <img src="{% static 'img/evento.png' %}" class="card-img w-25" alt="...">
                <div class="card-img-overlay">
                  <h5 class="card-title">Información del evento</h5>
                  <p class="card-text">Actualizar</p>
                </div>
              </a>
            </div>

          </div>

          </div>
        </div>
      </div>
    </section>


      <footer class="fixed-bottom" style="background-color: #2c5d63; height: 60px;">
        <div class="container">
          <p class="m-0 text-center text-white" style="color: #f5f5f5; padding-top: 17px;">Copyright &copy; IT4Connect 2019</p>
        </div>
      </footer>   
  </body>
     <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <!-- video -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </html>

