{% load static %}

<!DOCTYPE html>
<html lang="es">
 <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0, shrink-to-fit=no">

    <!-- Estilo css-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/admin.css' %}" >


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Latest compiled and minified CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" comrossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">


    <!-- FONTAWSOME -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
     
    <!-- Fuente google font-->
     <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">


    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- falta el logo-->
    <link rel="icon" href="images/logochico.png" type="image/x-icon">
    <title>Feria Cultiva - Administrador</title>
    <style type="text/css">
      

    </style>
  </head>
  <body class="principal">
    <div class="row" >
              
      <div class="col-md-12 mx-auto">
        <div class="container-fluid encabezado">
          <h1 class="titulo-head">BIENVENIDO AL PANEL DE ADMINISTRACIÓN DE FERIA CULTIVA </h1>
        </div>
      </div>
    </div>

    <section style="padding-top: 7%;">
      <div class="container" style="">
        <div class="row">
          <div class="col-md-4" >
            <div class="card text-center shadow card">
              <div class="overflow">
                <img src="{% static 'img/feriantes.png' %}" class="card-img-top">
              </div>
              <div class="card-body text-center card-text">
                <h4 class="card-title card-titulo">FERIANTES</h4>
                <p class="card-text text-secondary">descripcion de la card</p>
                <a href="{% url 'feriante:agregar' %}" class="btn botones">Agregar</a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card text-center shadow card">
              <div class="overflow">
                <img src="{% static 'img/ambiente.png' %}" class="card-img-top">
              </div>
              <div class="card-body text-center card-text">
                <h4 class="card-title card-titulo">AMBIENTE Y SALUD</h4>
                <p class="card-text text-secondary">descripcion de la card</p>
                <a href="#" class="btn botones">Actualizar</a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card text-center shadow card">
              <div class="overflow">
                <img src="{% static 'img/fecha.png' %}" class="card-img-top">
              </div>
              <div class="card-body text-center card-text">
                <h4 class="card-title card-titulo">PRÓXIMAS FECHAS</h4>
                <p class="card-text text-secondary">descripcion de la card</p>
                <a href="#" class="btn botones">Actualizar</a>
              </div>
            </div>
          </div>
      </div>
    </div>

    </section>
                  
  </body>
  </html>