{% extends 'base.html' %}
{% load static %}
{% block titulo%} Iniciar Sesión {% endblock titulo%}


{% block contenido %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
</head>  

<!-- Page Content -->
<section class="py-5" style="background-color: #fcfafa;" >
  <!-- Page Content -->
  <div class="container" style="margin-top: 110px; margin-bottom: 40px;">
		<div class="row">

			<div class="col-md-6">
				<img src="{% static 'img/loginnew.png' %}" class="w-100 h-100" style="opacity: 0.8;">
			</div>

			<div class="col-md-6">
    		<div class="container" style="margin-top: 80px;">
				<h4 class="text-center" id="tit">Iniciar Sesión</h4>
				<br>
				<form action="{% url 'login' %}" method="POST">{% csrf_token %}
					<div class="form-group text-center">
					    <!-- <label for="exampleInputEmail1" class="text-center">Usuario</label> -->
					    <input type="text" class="form-control mx-auto" name="username" aria-describedby="emailHelp" placeholder="Ingrese usuario">
					</div>
					<div class="form-group text-center">
					    <!-- <label for="exampleInputPassword1" class="text-center">Contraseña</label> -->
					    <input type="password" class="form-control mx-auto" name="password" placeholder="Contraseña">
					    <small id="emailHelp" class="form-text text-muted text-center">
						   	<a href="" class="boton">¿Olvidaste tu contraseña?</a>
						</small>
					</div>
					{% if form.errors %}
					<div class="alert alert-danger" role="alert">

 					 Nombre de usuario o contraseña incorrectos. Ingresá nuevamente.
						
					</div>
					{% endif %}
					  
					<input type="hidden" name="next" value="{{ next }}" />
					<div class="" style="text-align: center;">
						<button  type="submit" class="btn btn-log">Ingresar</button>
					</div>
					<small id="emailHelp" class="form-text text-muted text-center">
						   	<a href="{% url 'usuario:agregar' %}" class="boton">¿No tenés cuenta? Crear cuenta</a>
					</small>
				</form>
			</div>				
		</div>
	</div>
	</div>				
</section>
{% endblock contenido %}