{% extends 'base.html' %}
{% load static %}
{% block titulo%} Iniciar Sesión {% endblock titulo%}


{% block contenido %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
</head>  
<header class="masthead border-bottom" style="background-image: url({% static 'img/loginenc1.png' %}) ">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light" id="titulo">Iniciar Sesión</h1>
        <p class="lead"></p>
      </div>
    </div>
  </div>
</header>
<!-- Page Content -->
<section class="py-5" >
  <!-- Page Content -->
  <div class="container">
		<div class="row">
    		<div class="container containerCard h-100 w-50 border">
				<h3 class="text-center" id="tit">BIENVENIDO</h3>
				<form action="{% url 'login' %}" method="POST">{% csrf_token %}
					<div class="form-group">
					    <label for="exampleInputEmail1">Usuario</label>
					    <input type="text" class="form-control" name="username" aria-describedby="emailHelp" placeholder="Ingrese usuario">
					</div>
					<div class="form-group">
					    <label for="exampleInputPassword1">Contraseña</label>
					    <input type="password" class="form-control" name="password" placeholder="Contraseña">
					    <small id="emailHelp" class="form-text text-muted text-center">
						   	<a href="" class="boton">¿Olvidaste tu contraseña?</a>
						</small>
					</div>
					{% if form.errors %}
					<div class="alert alert-danger" role="alert">
 					 Nombre de usuario o contraseña incorrectos. Ingresá nuevamente.
					</div>
					{% endif %}
					  
					<input type="hidden" name="next" value="{{ next }}" />
					<div class="" style="text-align: center;">
						<button  type="submit" class="btn btn-log">Ingresar</button>
					</div>
				</form>
			</div>				
		</div>
	</div>				
</section>
{% endblock contenido %}