{% extends 'base.html' %}
{% load static %}

{% block titulo %} Inicio {% endblock titulo %}

  {% block contenido %}

<head>
    <!-- icono de la página -->
    <link rel="icon" href="{% static 'img/logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'css/productos.css' %}">
  
</head>
<header id="mi-header">
  <!-- slide page principal -->
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">

      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
     
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active" style="background-image: url({% static 'img/s1.png' %}) " >
        <div class="carousel-caption d-none d-md-block">
          <!-- <img id="logo"  src=""  class="d-inline-block align-top" alt="Feria Cultiva" ;> -->
          <h2 class="titulo-1">Productos agroecológicos</h2>
          <p class="lead">Comercio justo • Consumo responsable • Cultura sustentable</p>
          <p class="lead">#Cultura colaborativa</p>
          

        </div>
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('{% static 'img/s2.png' %}')">
        <div class="carousel-caption d-none d-md-block">
          <!-- <img id="logo"  src="{% static 'img/letrasverdes.png' %}"  class="d-inline-block align-top" alt="Feria Cultiva" style="width: 250px;"> -->
        {% for p in EventoInfo %}
          <h2 class="titulo-1">La feria en tiempos de cuarentena</h2>
          <p class="lead">Confiamos en que pronto volveremos a encontrarnos</p>
          <p class="lead">mientras tanto, ¡Te invitamos a recorrer el sitio!</p>
          {% endfor %}
         </div> 
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('{% static 'img/s3.png' %}')">
        <div class="carousel-caption d-none d-md-block">
          <!-- <img id="logo"  src="{% static 'img/letrasverdes.png' %}"  class="d-inline-block align-top" alt="Feria Cultiva" style="width: 250px;"> -->
          <h2 class="titulo-1">Conocé a los feriantes</h2>
          <p class="lead">Mirá los productos que ofrecen</p>
          <p class="lead">Comunicate para acordar la compra</p>
        </div>
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
  </div>
</header>

<!-- Page Content -->
<section class="py-1" >
        <div class="col-lg-8 mx-auto " style="background-color:#fff;">
  <div class="container-fluid" >


           <h1 class="my-1 ">
            PRODUCTOS RECIENTES
           </h1>
        <div class="row">
           {% if object_list|length == 0 %}
           <label for="">No hay productos.</label>
          {% else%}
                {% for p in Recientes %}
                  <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                      <a href="{% url 'producto:Detalle' p.pk p.categoria.nombre %}" class="imagen" >
                        {% if p.foto_producto %}
                                <img class="img-prod" style="width: 100px; height: 150px;" 
                                src="{{p.foto_producto.url}}" alt="encontre">
                            {% else %}
                                <img class="img-prod" style="width: 80px; height: 150px;" 
                                src="" alt="No existe imagen" >
                        {% endif %}
                        </a>
                      <div class="card-body">
                        <h4 class="card-title">
                          <a class="ancla-titulo" href="{% url 'producto:Detalle' p.pk p.categoria.nombre %}" class="imagen"> {{p.nombre}} </a>
                        </h4>
                        <!-- <h5 class="prod"> ${{p.precio}} </h5>
                   
                      {% if p.stock > 0 %}
                        <p class="card-text"> Stock: {{p.stock}} </p>
                      {% else %}
                        <p class="card-text"> No hay stock disponible </p>
                      {% endif %} -->

                      </div>
                     
                    </div>
                  </div>
                {% endfor %}
              {% endif %}

        </div> <!-- /.row col-lg-9 -->
      </div><!-- /.col-lg-9 -->
    </div>


       

<!-- <div class="col-lg-8 mx-auto" style="padding-top: 50px;"  >

    <div class="box" >
        <h1 class="my-1 ">
               ¿CÓMO FUNCIONA ?
        </h1>
    <div class="container">
      <div class="row">
       
        <div class="col-lg-4 col-xs-12 text-center">
          <div class="box">
                        <img src="{% static 'img/paso1.png' %}" class="img-como-funciona">
            <div class="box-title">
              <h2 class="titulo-seccion">Elegí tus productos</h2>
            </div>
            <div class="box-text">
             <p>Seleccioná del catálogo los productos que quieras. Podés elegir los más recientes o andá a las sección de productos y selecciná la categoría que quieras. </p>
            </div>
            
           </div>
        </div>   
        
         <div class="col-lg-4 col-xs-12  text-center">
          <div class="box">
                        <img src="{% static 'img/paso2.png' %}" class="img-como-funciona">
            <div class="box-title">
                <h4 class="titulo-seccion">Hacé tus reservas </h4>
            </div>
            <div class="box-text">
                <p> Una vez que selecciones un producto, e ingreses la cantidad que quieras, pulsá sobre "Reservar", y se cargará tu pedido al listado de reservas. </p>
            </div>
            
           </div>
        </div>   
          
        
         <div class="col-lg-4 col-xs-12 text-center">
          <div class="box">
                        <img src="{% static 'img/paso3.png' %}" class="img-como-funciona">
            <div class="box-title">
               <h4 class="titulo-seccion">Controlá el estado</h4>
            </div>
            <div class="box-text">
              <p>A través de la página podés visualizar el estado de tus pedidos, el feriante va a confirmar tu reserva y se va a comunicar con vos para acordar la entrega.</p>
            </div>
           
           </div>
        </div>
    
    </div>    
    </div>
</div>
</div> -->


<div class="container-fluid categoria" >
          <h1 class="my-1 ">
              CATEGORÍAS
          </h1>
      

  <div class="container-fluid">
    <div class="row">
      {% for p in Categorias %}
          <div class="col-md-3 col-sm-3 col-xs-12 mx-auto" style="margin-bottom: 5px;">
             <div class="card-img-cat bg-white text-white">
                <img src=" {{p.foto.url}} " class="card-img-cat" alt="">
                <div class="card-img-overlay">
                 <h5 class="card-categoria mx-auto" >{{p.nombre}}</h5>
                  
                </div>
              </div>
          </div>
        {% endfor %}
      
    </div>
  </div>
     
</div>

</section>

{% endblock contenido %}





