{% load static %}
<!DOCTYPE html>
<html lang="es">
 <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Latest compiled and minified CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" comrossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Fuente google font-->
     <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
    <!-- Estilo css-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- icono de la página -->
    <link rel="icon" href="{% static 'img/logo.png' %}" type="image/x-icon">

    <!-- título de la pestaña-->
    <title>Agregar Feriante</title>

  </head>

  <body style="background-image:url({% static 'img/back.png' %}">
	<div class=" container " style="background-image: url({% static 'img/back.png' %});">
		<div class="row ">

	      <div class="mx-auto" style="width: 480px;">
			
			{% for x in messages %}
			<div class="alert alert-success">
				{{x}}
			</div>
			{% endfor %}

			<form class="shadow p-3 mb-3 mt-3  rounded " enctype="multipart/form-data"  method="POST" style="background-color:#a9c52f; "> {% csrf_token %}
				{{form.errors}}
				<h3>AGREGAR FERIANTE</h3>
	            <div class="form-group col-md-11 mx-auto">
	                <label>Nombre de Usuario</label>
	                <input  type="text" class="form-control" placeholder="Ingrese Nombre de Usuario" name="username">
	            </div>

	           
	            <div class="form-group col-md-11  mx-auto">
	                <label>Contraseña</label>
	                <input type="password" class="form-control" placeholder="Ingrese Contraseña" name="password">
	                <small id="passwordHelpInline" class="text-muted">
				      Must be 8-20 characters long.
				    </small>
	            </div>

	         

	            <div class="form-group col-md-11 mx-auto">
	                <label>Correo electrónico</label>
	                <input type="email" class="form-control" placeholder="Ingrese Correo" name="email">
	            </div>
	          
           
	       	    <div class="form-group col-md-11 mx-auto">
	                <label>Nombre de la Feria</label>
	                <input type="text" class="form-control" placeholder="Ingrese un Nombre" name="first_name">
	            </div>
	          

	          	 <div class="form-group col-md-11 mx-auto">
	                <label>Nº teléfono</label>
	                 <input class="form-control" type="tel" placeholder="Ingresa tu número" id="example-tel-input" name="telefono">
	                  <small id="passwordHelpInline" class="text-muted">
				      Cod. de área + Número sin el 15
				    </small>
	  
	            </div>
	          
      			<div class="" style="text-align: center;">
	          			<button class="btn" type="submit">Guardar</button>
	          	</div>

				 </div>
        	</form>
    		</div>
  		</div>
			   
	</div>

  </body>
</html>
