{% load static %}
<!DOCTYPE html>
<html lang="es">
 <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Latest compiled and minified CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" comrossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Fuente google font-->
     <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
    <!-- Estilo css-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">

    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- icono de la página -->
    <link rel="icon" href="{% static 'img/logo.png' %}" type="image/x-icon">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!-- título de la pestaña-->
    <title>Agregar Feriante</title>
    <style type="text/css">
    	.masthead {
		  min-height: 160px;
		  background-size: cover;
		  background-position: center;
		  background-repeat: no-repeat;
		  font-family: 'Roboto Slab', serif; 
		}

		#titulo {
			padding-top: 80px;
		  font-size: 50px;
		  color: #2c5d63;
		  text-shadow: 5px 5px 5px #aaa;
		}
    </style>
  </head>


  <body style="background-image:url({% static 'img/back.png' %}">
	<header class="masthead" style="background-image: url({% static 'img/agregarferiante.png' %}) ">
  		<div class="container h-100">
    		<div class="row h-100 align-items-center">
      			<div class="col-12 text-center">
        			<h1 class="font-weight-light" id="titulo">AGREGAR FERIANTE</h1>
        			<p class="lead"></p>
      			</div>
    		</div>
  		</div>
	</header>
	<a href="{% url 'panelAdmin' %}"> ← Volver al Panel de Administración</a>
	<section class="py-5" style="background-image: url({% static 'img/back.png' %}) ">

  <!-- Page Content -->
  <div class="container">
   <div class="row">    
    <div class="conteiner7 mx-auto" style="padding-bottom: 60px; width: 75%" >
        {% for x in messages %}
            <div class="alert alert-success">
                {{x}}
            </div>
            {% endfor %}
        <form data-v-88d1dfd6="" autocomplete="off" method="POST"  enctype="multipart/form-data" style="padding-left: 25px;" >
            {% csrf_token %}
            {{form.errors}}
            <div data-v-88d1dfd6="" class="row topMargin">
                <div data-v-88d1dfd6="" class="col-md-6">
                    <div data-v-88d1dfd6="" class="form-group">
                        <label data-v-88d1dfd6="" for="email">E-mail *</label> 
                        <input data-v-88d1dfd6="" type="email" maxlength="100" class="form-control" placeholder="Ingrese su correo electrónico" name="email">
                        <small data-v-88d1dfd6="">Introduzca un email válido</small>
                    </div>
                </div> 
                <div data-v-88d1dfd6="" class="col-md-6">
                    <div data-v-88d1dfd6="" class="form-group">
                        <label data-v-88d1dfd6="" class="control-label">Nombre de la Feria *</label> 
                        <input data-v-88d1dfd6="" type="text" maxlength="35" class="form-control" placeholder="Ingrese Nombre de Usuario" name="first_name">
                        
                    </div>
                </div> 
            </div>
            <div data-v-88d1dfd6="" class="row"> 
                <div data-v-88d1dfd6="" class="col-md-6">
                    <div data-v-88d1dfd6="" class="form-group">
                        <label data-v-88d1dfd6="" for="inputApellido">NyA del responsable *</label> 
                        <input data-v-88d1dfd6="" type="text" maxlength="35" class="form-control" placeholder="Ingrese NyA del responsable" name="last_name">
                    </div>
                </div>
                <div data-v-88d1dfd6="" class="col-md-6">
                    <div data-v-88d1dfd6="" class="form-group">
                        <label data-v-88d1dfd6="" for="telefono">Teléfono *</label> 
                        <input data-v-88d1dfd6="" type="tel" maxlength="35" class="form-control" name="telefono" placeholder="Ingresa tu número de teléfono">
                        <small id="passwordHelpInline" class="text-muted">Cod. de área + Número sin el 15</small>
                    </div>
                </div>
            </div>
            <div data-v-88d1dfd6="" class="row">
                <div data-v-88d1dfd6="" class="col-md-6">
                    <div data-v-88d1dfd6="" class="form-group">
                        <label data-v-88d1dfd6="" class="control-label">Nombre de usuario *</label> 
                        <input data-v-88d1dfd6="" type="text" maxlength="35" class="form-control" placeholder="Ingrese Nombre de Usuario" name="username">
                        
                    </div>
                </div>
                <div data-v-88d1dfd6="" class="col-md-6">
                    <div data-v-88d1dfd6="" class="form-group">
                        <label data-v-88d1dfd6="" for="password_confirmation">Contraseña *</label> 
                        <input data-v-88d1dfd6="" type="password" maxlength="35" class="form-control" placeholder="Ingrese Contraseña" name="password"> <!---->
                        
                    </div>
                </div>
            </div>
            <div data-v-88d1dfd6="" class="row">
                <div class="mx-auto">
                        <br>
                        <br>
                        <button class="btn" type="submit">Finalizar Registro</button> 
                </div>
            </div> 
        </form> 
    </div>
  </div>
</div>
</section>



	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    <!-- video -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body>
</html>
