{% load static %}
<!DOCTYPE html>
<html lang="es">
 <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Latest compiled and minified CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" comrossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Fuente google font-->
     <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
    <!-- Estilo css-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">

    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- icono de la página -->
    <link rel="icon" href="{% static 'img/logo.png' %}" type="image/x-icon">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!-- título de la pestaña-->
    <title>Agregar Feriante</title>
  </head>


  <body style='font-family: "Roboto Slab", serif;' >

	<!--navbar admin-->
   <nav class="navbar navbar-expand-lg fixed-top" style="background-color: #283739;">
    <div class="container">
      <a class="navbar-brand" style="color: #f5f5f5;" href="{% url 'start' %}">Feria Cultiva</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" style="color: #f5f5f5;"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'start' %}">Ir al sitio
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
                <a class="nav-link" href=" {% url 'panelAdmin' %} "> Volver </a>
          </li>
         <li class="nav-item">
                <a class="nav-link" href="#"></a>
              </li>
              <li class="nav-item dropdown">
                {% if user.is_authenticated %}
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Hola! {{user.username}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesión</a>
                </div>
                {% endif %}
            </li>
        </ul>
      </div>
    </div>
  </nav>


<section class="py-5" style=" margin-bottom: 20px;">
  <!-- titulo y subtitulo de la pagina -->
   <div>
    
   </div>
<div class="container">
  <div  class="title col-md-12 mx-auto">
  <h3 class="text-center" style="margin-top: 50px;">
     ALTA FERIANTE
   </h3>
   </div>

  
     <div class="row">  
   
      <div class="container h-100  " style="background-color: #fff;padding-top: 15px; padding-bottom: 15px;" >

           {% for x in messages %}
                            <div class="alert alert-success mx-auto w-50 align-items-center" >
                                {{x}}
                            </div>
            {% endfor %}
        <form autocomplete="off" method="POST"  enctype="multipart/form-data"  >

          {% csrf_token %}
          <div data-v-88d1dfd6="" class="row topMargin">
            <div data-v-88d1dfd6="" class="col-md-6">
              <div class="form-group">
                    <label for="email">E-mail *</label> 
                    <input type="email" maxlength="50" class="form-control" placeholder="Ingrese su correo electrónico" name="email" required="true">
                    <small class="text-muted" >Introduzca un email válido</small>
                            {% if form.email.errors %}
                    <span class="form_error">
                      La dirección de correo no es válida o ya está en uso, intente nuevamente.
                    </span>
                            {% endif %}
              </div>
            </div>
            <div data-v-88d1dfd6="" class="col-md-6">                         
              <div  class="form-group">
                  <label  class="control-label">Nombre de usuario *</label> 
                  <input type="text" maxlength="35" class="form-control" placeholder="Ingrese nombre de usuario" name="username" required="true">
                  <small class="text-muted">
                                      Ingrese un nombre de usuario sin espacios. 
                  </small>
                                  {% if form.username.errors %}
                  <span class="form_error">
                                      El nombre de usuario ya existe o tiene espacios en blanco, intente nuevamente.
                  </span>
                                  {% endif %}  
                </div>
            </div>
            <div data-v-88d1dfd6="" class="col-md-6">                            
              <div class="form-group">
                    <label for="inputApellido">Responsable *</label> 
                    <input  type="text" maxlength="35" class="form-control" placeholder="Ingrese el nombre completo del responsable" name="last_name"required="true">
                                {% if form.last_name.errors %}
                    <span class="form_error">
                                    El nombre no es válido. Verifique a cantidad de caracteres. 
                    </span>
                              {% endif %}
              </div>
            </div>
            <div data-v-88d1dfd6="" class="col-md-6">                                           
                <div  class="form-group">
                      <label for="password_confirmation">Contraseña *</label> 
                      <input type="password"  minlength="8" maxlength="16" class="form-control" placeholder="Ingrese contraseña" name="password1"> <!---->
                                {% if form.password1.errors %}
                      <span class="form_error">
                                    La contraseña es muy común, verifique sea una combinación de letras (mayúsculas y minúsculas) y números. 
                      </span>
                                {% endif %}
                </div>
            </div>
            <div data-v-88d1dfd6="" class="col-md-6">
                <div class="form-group">
                     <label  class="control-label">Nombre de la feria *</label> 
                     <input type="text" maxlength="35" class="form-control" placeholder="Ingrese nombre de la feria" name="first_name" required="true">
                               {% if form.first_name.errors %}
                     <span class="form_error">
                                    El nombre no es válido. Verifique a cantidad de caracteres. 
                     </span>
                              {% endif %}         
              </div>
            </div>
            <div data-v-88d1dfd6="" class="col-md-6">
                  <div  class="form-group">
                      <label for="password_confirmation">Repita contraseña *</label> 
                      <input type="password"  minlength="8" maxlength="16" class="form-control" placeholder="Ingrese contraseña" name="password2"> <!---->
                                
                                {% if form.password2.errors %}
                      <span class="form_error">
                                    Las contraseñas no coinciden, o puede que sea muy común, verifique sea una combinación de letras (mayúsculas y minúsculas) y números e intente nuevamente. 
                      </span>
                      {% endif %}
                  </div>
            </div>
            <div data-v-88d1dfd6="" class="col-md-6">
                  <div class="form-group">
                  <label for="telefono">Teléfono *</label> 
                  <input  type="tel" maxlength="10" class="form-control" name="telefono" placeholder="Ingrese su nº de teléfono" required="true" >
                  <small id="passwordHelpInline" class="text-muted">Ingresá tu nº con código de área, sin 0 y sin el 15</small>
                                  {% if form.telefono.errors %}
                  <span class="form_error">
                                      El número de teléfono no es válido, intente nuevamente. 
                  </span>
                                  {% endif %}
                </div>
            </div>
          </div>
          <div class="col-md-12 text-center">
                <button class="btn mx-auto" type="submit">Finalizar registro</button>
          </div>
        </form>
      </div>
    </div>
  </div>  
</section>
<footer class="fixed-bottom" style="background-color: #283739; height: 60px;">
        <div class="container">
          <p class="m-0 text-center text-white" style="color: #f5f5f5; padding-top: 17px;">Copyright &copy; IT4Connect 2019</p>
        </div>
</footer>


	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    <!-- video -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body>
</html>
