{% if object_list|length != 0 %}
	{% for p in object_list %}
		<label for="">{{p.producto}}</label>
		<div>
			<a href="{% url 'pedido:delete' p.pk %}">delete</a>
			{% if p.producto.foto_producto %}
					<img class="img-prod" style="width: 80px; height: 150px;" 
					src="{{p.producto.foto_producto.url}}" alt="encontre">
				{% else %}
					<img class="img-prod" style="width: 80px; height: 150px;" 
					src="" alt="No existe imagen" >
			{% endif %}
		</div>
		<div>
			<form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
				<label for="cantidad">Cantidad</label>
				<input type="number" name="cantidad" id="cantidad" style="width: 54px" placeholder="{{p.cantidad}}">
				<button type="submit" value="{{p.pk}}" name="Confirmar" style="margin-top: 5px;">Confirmar</button>
			</form>
		</div>
	{% endfor %}


	<br>
	<br>
	<br>
	<br>

	<strong><a href="{% url 'reserva:agregar' %}">Confirmar Pedido</a></strong>
{% else %}
	<label for="">No pedidos</label>
{% endif %}
