{% extends 'base.html' %}
{% load static %}



{% block titulo %} Productos {% endblock titulo%}


{% block contenido %}  
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/altaProd.css' %}">
</head>

<!-- Contenido de la pagina -->
<section class="py-5">
  <!-- titulo y subtitulo de la pagina -->
  <div class="container">
		    <h2 class="my-4 titulo text-center">NUEVO PRODUCTO</h2>
		
	<div class="row">  


		{% if object %}
			<form autocomplete="off" method="POST"  enctype="multipart/form-data">{% csrf_token %}
				{{form.as_p}}
				<button type="submit">save</button>
				
			</form>
		{% endif %}
<!--formulario -->
		<div class="container h-100 " style="background-color: #f5f5f5;padding-top: 15px; padding-bottom: 15px;" >

			<div  class="row justify-content-center align-items-center">
				
			{% for x in messages %}
				            <div class="alert alert-success">
				                {{x}}
				            </div>
		            {% endfor %}
		     <div class="col col-sm-6 col-md-6 col-lg-6 ">
		       <form autocomplete="off" method="POST"  enctype="multipart/form-data"  >
				            {% csrf_token %}
				            {% if form.errors %}
							<div class="alert" style="background-color: red;">
						      {{form.errors}}
						    </div>
							{% endif %}

		                
		                    <div class="form-group">
		                        <label  class="control-label">Nombre del producto</label> 
		                        <input  type="text" maxlength="35" class="form-control" placeholder="Ingrese el nombre del producto" name="nombre">
		                    </div>
		             
		            
		            
		                    <div class="form-group">
		                        <label  for="inputApellido">Precio</label> 
		                        <input  type="number" class="form-control" placeholder="Ingrese el precio" name="precio">
		                    </div>
		               
		                
		                    <div class="form-group">
		                        <label for="inputApellido">Stock</label> 
		                        <input type="number" class="form-control" placeholder="Ingrese el stock" name="stock">
		                    </div>
		               	
							<div class="form-group">
		                        <label >Descripción</label>
		                        <input type="text" maxlength="100" class="form-control" placeholder="Ingrese una descripción" name="descripcion">
		                        <small style="color: #2c5d63;">Cantidad máxima: 100 caracteres.</small>
		                        <!-- <input type="submit" value="Enviar datos">-->
		                    </div>
						
		                    <div class="form-group">
		                        <label >Imagen del producto</label>
		                        <img src=""> 
		                        <input type="file" name="foto_producto">
		                        <!-- <input type="submit" value="Enviar datos">-->
		                    </div>
		              
		           
		              
		                
		                    <div class="form-group">
		                    	<label>Seleccionar categoria</label>
		                        <select name="categoria">
									{% for c in categoria %}
										<option value="{{ c.pk }}">{{ c }}</option>
									{% endfor %}
								</select>
		                    </div>
		              



		            <div class="row justify-content-center align-items-center">
		            	<button class="btn alta-prod" type="submit"href="{% url 'producto:listar' %}">Cancelar</button>
		            	<button class="btn alta-prod" type="submit">Guardar</button>
		            </div>
		
				 	{% if object %}
				 		<div>
				 			<a type="submit" href="{% url 'producto:eliminar' object.pk %}" class="btn btn-danger">Eliminar</a>
				 		</div>
				 	
				 	{% endif %}

				 	</div>
		        </form> 
 				</div>
		      </div>
		   </div><!--fin container form-->

		</div><!--fin row-->
  
  </div>  <!-- /fin container -->     
</section>
{% endblock contenido%}




