{% extends 'base.html' %}
{% load static %}
{% block titulo %} Productos {% endblock titulo%}
{% block contenido %}  
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/det-producto.css' %}">

</head>


<!-- contenido de la página -->
<section class="py-5"  >
<!-- Page Content -->
<div class="container" style="border-bottom: : 1px solid #a9c52f;">
                 <h1 class="my-1 ">
                   DETALLE DE PRODUCTO
                 </h1>
              <!-- 
              
     <a href="{% url 'producto:modificar' object.pk %}">modif</a>
            

              Portfolio Item Row -->
  

    <div class="row" style=" border-bottom: 1px solid #a9c52f; border-top: 1px solid #a9c52f;">
   
          <div class="col-md-6">
              <!--contenedor de la imagen-->
        <div class="card mb-3" id="card-detalle">
          <div class="row no-gutters">
            <div class="col-md-4" >
              {% if object.foto_producto %}
                <img class="imagen-detalle" src="{{object.foto_producto.url}}"  alt="imagen" style="width: 250px;height: 400px;"  >
              {% else %}
                <img class="imagen-detalle" src="" alt="No existe imagen" style="width: 250px; height: 400px; ">
              {% endif %}
            </div>
          </div>
        </div>   
      </div>

                 <!--descripción -->
                
                  <div class="col-md-6" style="padding-top: 50px;" >
                    <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}

                      <h5 class="detalle-titulo">{{object.nombre}}</h5>
                    
                      <p class="stock-det "><small > Stock: {{object.stock}}</small></p>
                      
                      <p class="card-text-det">{{object.descripcion}}</p>
                      <h3 class="detalle-precio">${{object.precio}}</h3>
    
                      <!-- valores para guardar en el models de reserva -->
                     
                      <a class="ancla-titulo-feriante" href="" class="imagen"> Feriante:  {{object.feriante.encargado.first_name}} </a>
                       <br>

                      <div > 
                      <input type="number" name="cantidad" id="cantidad" placeholder="1" value="1" 
                      style=" border: 1px solid #2c5d63;">

                      {% if user.is_authenticated %}
                         <button class="reservar " style="display: inline-block; display: inline-block; font-size: 25px; color: #283739;" type="submit"><i class="fas fa-cart-plus"></i></button>
                      {% endif %}
                      </div>

                    </form>
                  </div>
                
  
   </div><!-- /fin row -->

</div> <!-- /fin container -->
 

<div class="container-fluid" style="background-color:#f5f5f5; ">
  <div class="row">
     <h1 class="my-1 mx-auto">
        SUGERENCIAS
      </h1>
    <div class="col-sm-12">
      <div id="inam" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          {% for p in Sugerencia %}
            {% if forloop.counter == 1 %}
              <div class="carousel-item active">  
                {% else %}
                  <div class="carousel-item">
                  {% endif %}
                    <div class="container">
                      <div class="row">
                        {% for i in p %}
                          <div class="col-sm-12 col-md-4">
                            <div class="card" id="mi-card" style="margin: auto; margin-top: 12%;">
                              <a href="{% url 'producto:Detalle' i.pk i.categoria.nombre %}" class="imagen">
                                  {% if i.foto_producto %}
                                  <img class="card-img-top" style="width: 80px; height: 150px; margin-top: 22px;" src="{{i.foto_producto.url}}" alt="encontre" >
                                  {% else %}
                                  <img class="card-img-top" style="width: 80px; height: 150px;" src="" alt="No existe imagen" >
                                  {% endif %}
                              </a>
                                <div class="card-body">
                                <h4 class="card-titulo-detalle">
                                <a class="ancla-titulo" href="{% url 'producto:Detalle' i.pk i.categoria.nombre %}" class="imagen"> {{i.nombre}} </a>
                                </h4>
                                <h5 class="prod"> ${{i.precio}} </h5>
                                <p class="card-text"> Stock: {{i.stock}} </p>
                                </div>
                          </div><!--final card-->        
                      </div><!--final col cards-->
                   {% endfor %}
                </div> <!--final row-->
              </div> <!--final container-->
            </div><!--final carousel item-->
          {% endfor%}
        </div><!--<div class="carousel-inner">-->
      </div><!-- class="carousel slide"-->
        <a href="#inam" class="carousel-control-prev" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a href="#inam" class="carousel-control-next" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
    </div><!--fin col sm 12-->
  </div><!--fin del row-->
</div><!--fin del las cards container fluid-->



</section>

{% endblock contenido%}

