{% extends 'base.html' %}
{% load static %}
{% block titulo %} Productos {% endblock titulo%}
{% block contenido %}  
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/det-producto.css' %}">

</head>
<header class="masthead" style="background-image: url({% static 'img/productos.jpg' %}) ">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light">  </h1>
        <p class="lead"></p>
      </div>
    </div>
  </div>
</header>

<!-- contenido de la página -->
<section class="py-5" >
<!-- Page Content -->
<div class="container">

              <!-- Portfolio Item Heading -->
              <h1 class="my-4">Productos >
                <small>{{object.nombre}}</small>
              </h1>

              <!-- Portfolio Item Row -->
    <div class="row">
      <div class="col-md-8">
              <!--contenedor de la imagen-->
        <div class="card mb-3" id="card-detalle">
          <div class="row no-gutters">
            <div class="col-md-4" >
              {% if object.foto_producto %}
                <img class="imagen-detalle" src="{{object.foto_producto.url}}"  alt="imagen" style="width: 250px;height: 400px;"  >
              {% else %}
                <img class="imagen-detalle" src="" alt="No existe imagen" style="width: 250px; height: 400px; ">
              {% endif %}
            </div>
          </div>
        </div>   
      </div>

                 <!--descripción -->
                <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                  <div class="col-md-4">
                    
                      <h1 class="detalle-titulo">{{object.nombre}}</h5>
                      <p class="card-text-det">Acá debe ir una descripción</p>
                      <h3 class="detalle-precio">${{object.precio}}</h3>
                      </br>
                      <p class="stock-det"><small> Stock: {{object.stock}}</small></p>
                        <a class="ancla-titulo-feriante" href="" class="imagen">{{object.feriante.encargado.first_name}} </a>
                        <br>
                      <!-- valores para guardar en el models de reserva -->
                      <label for="cantidad">Cantidad</label><br>
                      <input type="number" name="cantidad" id="cantidad">
                      {% if object.feriante.delivery == True %}
                        <label for="envio">Envio</label><br>
                        <input type="radio" name="envio" value="Si">Si<br>
                        <input type="radio" name="envio" value="No">No<br>
                      {% endif %}
                      <button type="submit" style="margin-top: 5px;">Confirmar</button>
                    
                  </div>
                </form>
  
   </div><!-- /fin row -->

</div> <!-- /fin container -->
 
<div class="container-fluid" style="background-color:#f5f5f5;">
  <div class="row">
    <div class="col-sm-12">
      <div id="inam" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          {% for p in Sugerencia %}
            {% if forloop.counter == 1 %}
              <div class="carousel-item active">  
                {% else %}
                  <div class="carousel-item">
                  {% endif %}
                    <div class="container">
                      <div class="row">
                        {% for p in Sugerencia %}
                          <div class="col-sm-12 col-md-4">
                            <div class="card" id="mi-card" style="margin: auto; margin-top: 12%;">
                              <a href="{% url 'producto:Detalle' p.pk p.categoria.nombre %}" class="imagen">
                                  {% if p.foto_producto %}
                                  <img class="card-img-top" style="width: 80px; height: 150px;" src="{{p.foto_producto.url}}" alt="encontre" >
                                  {% else %}
                                  <img class="card-img-top" style="width: 80px; height: 150px;" src="" alt="No existe imagen" >
                                  {% endif %}
                              </a>
                                <div class="card-body">
                                <h4 class="card-title">
                                <a class="ancla-titulo" href="{% url 'producto:Detalle' p.pk p.categoria.nombre %}" class="imagen"> {{p.nombre}} </a>
                                </h4>
                                <h5 class="prod"> ${{p.precio}} </h5>
                                <p class="card-text"> Stock: {{p.stock}} </p>
                                </div>
                                <div class="card-footer">
                                  <a href="" class=" carrito">+ carrito</a>
                                </div>
                          </div><!--final card-->        
                      </div><!--final col cards-->
                   {% endfor %}
                </div> <!--final row-->
              </div> <!--final container-->
            </div><!--final carousel item-->
          {% endfor%}
        </div><!--<div class="carousel-inner">-->
      </div><!-- class="carousel slide"-->
        <a href="#inam" class="carousel-control-prev" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a href="#inam" class="carousel-control-next" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
    </div><!--fin col sm 12-->
  </div><!--fin del row-->
</div><!--fin del las cards container fluid-->

</section>

{% endblock contenido%}

