{% extends 'base.html' %}
{% load static %}
{% block titulo %} Productos {% endblock titulo%}
{% block contenido %}  
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/productos.css' %}">
</head>

<header class="masthead" style="background-image: url({% static 'img/productos.jpg' %}) ">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light">  </h1>
        <p class="lead"></p>
      </div>
    </div>
  </div>
</header>


<section class="py-5"><!-- Page Content -->
  <div class="container"><!-- Container página principal -->
       <h1 class="my-4">Productos >
       <small>Catálogo</small>
       </h1>
  <div class="row">

   <!-- row página principal -->
    <div class="col-12">
    {% if user.es_empresa %}
      <button class="btn float-right" type="button"  >
        <a href="{% url 'producto:agregar' %}">
        Nuevo</a>
      </button>
      <button><a href="{% url 'feriante:MisProductos' %}">Mis Productos</a></button>
    {% endif %}
    </div>
    <a href="{% url 'feriante:correo' %}">EnviarCorreo</a>

 <!-- USAR ESTE FILTRO X EL MOMENTO -->
    <div class="col-lg-12 d-flex justify-content-center"> 
        <div class="list-group">
          <form>
              <select name="Categoria">
                  <option value="0">Todos</option>
                      {% for r in filtro %}
                  <option value="{{r.pk}}">{{r.nombre}}</option>
                      {% endfor %}
              </select>
              <button type="submit">
                filtrar
              </button>       
          </form>
        </div>
    </div>
   

    <!-- <div class="row"> PROXIMAMENTE XD
      <div class="col-lg-3">
        <h3 class="my-5">CATEGORÍAS</h3>
        <div class="list-group">
          <a href="#" class="list-group-item">Category 1</a>
          <a href="#" class="list-group-item">Category 2</a>
          <a href="#" class="list-group-item">Category 3</a>
        </div>
      </div> -->
      <!-- /.col-lg-3 -->
     
      <div class="col-lg-9 mx-auto">
        <div class="row">
           {% if object_list|length == 0 %}
           <label for="">No hay productos para esta categoria</label>
          {% else%}
                {% for p in object_list %}
                  <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                      <a href="{% url 'producto:Detalle' p.pk p.categoria.nombre %}" class="imagen" >
                        {% if p.foto_producto %}
                                <img class="img-prod" style="width: 80px; height: 150px;" 
                                src="{{p.foto_producto.url}}" alt="encontre">
                            {% else %}
                                <img class="img-prod" style="width: 80px; height: 150px;" 
                                src="" alt="No existe imagen" >
                        {% endif %}
                        </a>
                      <div class="card-body">
                        <h4 class="card-title">
                          <a class="ancla-titulo" href="{% url 'producto:Detalle' p.pk p.categoria.nombre %}" class="imagen"> {{p.nombre}} </a>
                        </h4>
                        <h5 class="prod"> ${{p.precio}} </h5>
                        <p class="card-text"> Stock: {{p.stock}} </p>
                      </div>
                      <div class="card-footer">
                        <!-- Cambiar el diseño del boton en caso de que no haya mas en stock -->
                        {% if p.stock > 0 %}
                          <form action=""method="post" enctype="multipart/form-data">{% csrf_token %}
                            <label for="cantidad">Cantidad</label><br>
                            <input type="number" name="cantidad" id="cantidad" style="width: 54px">
                            <button type="submit" value="{{p.pk}}" name="Confirmar" style="margin-top: 5px;">Confirmar</button>
                          </form>
                          {% else %}
                          <a href="#">no hay mas</a>
                        {% endif %}
                      </div>


                    </div>
                  </div>
                {% endfor %}
              {% endif %}

        </div> <!-- /.row col-lg-9 -->
      </div><!-- /.col-lg-9 -->

    </div> <!-- /.row contenido principal-->
   

        <!--/paginación-->
        <div style="padding-left: 50%;">
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                {% if page_obj.has_previous %}
                  <li class="page-item">
                      <a class="page-link" href="?page={{ page_obj.previous_page_number}}" aria-label="Previous">Anterior
                          <span aria-hidden="true">&laquo;</span>
                          <span class="sr-only">Previous</span>
                      </a>
                  </li>
                {% endif %}

                {% for page in page_range %}
                  <li {% if page == page_obj.number %} class="page-item" {% endif %}>
                  <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                  </li>
                {% endfor %}

                {% if page_obj.has_next %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ page_obj.next_page_number}}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
                {% endif %}

              </ul>
            </nav>
        </div>
        
  </div>    <!-- /.container -->    
</section>
{% endblock contenido%}




