{% extends 'base.html' %}
{% load static %}
{% block titulo %} Acerca de Feria Cultiva {% endblock titulo%}
{% block contenido %}  
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/informativa.css' %}">
</head>


<header class="masthead" style="background-image: url({% static 'img/sobrefc.png' %})">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
      <h1 class="my-1 titulo-h1 ">
         Acerca de Feria Cultiva
       </h1>
        <p class="lead"></p>
      </div>
    </div>
  </div>
</header>


<section>
    <div class="container">
       <h1 class="my-1 ">
            QUIENES SOMOS
        </h1>
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="{% static 'img/img01.jpg' %}" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="my-1 ">ACERCA DE FERIA CULTIVA</h2>
            <p class="texto">“La Cultiva” es producto de la articulación institucional entre la Oficina de Gestión Metropolitana del INTA Colonia Benítez y el Centro Cultural Alternativo (CECUAL) del Instituto de Cultura de la provincia del Chaco, a través del espacio de arte y diseño. Es un emprendimiento comunitario de CULTURA SUSTENTABLE, donde convive el área de comercialización (vinculado a la economía social) con instancias de capacitación-talleres y manifestaciones artísticas.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="{% static 'img/img02.jpg' %}" alt="">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="p-5">
            <h2 class="my-1 ">LAS PRIMERAS EDICIONES...</h2>
            <p class="texto"> Comenzó en el año 2011; y desde esa fecha hasta la actualidad se ha realizado en forma ininterrumpida. A fines del 2017 empezó a realizarse con frecuencia semanal, convocando durante el año 2018 a más de 8000 personas e instalándose definitivamente en la vida sociocultural de Resistencia. El número de feriantes varía de 12 a 20, todos pertenecientes a las localidades del Gran Resistencia. Se suman productores invitados de localidades de Basail, Colonia Benítez, Margarita Belén, Las Palmas, La leonesa, Puerto Tirol, y otras zonas aledañas.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="{% static 'img/img03.jpg' %}" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="my-1 ">PRODUCCIÓN CULTURAL Y AGROECOLÓGICA</h2>
            <p class="texto">Con la SUSTENTABILIDAD y la AUTOGESTIÓN como premisas, esta propuesta se basa en la idea de pensar la cultura de manera amplia, que incluye fomentar y fortalecer nuevas formas de producción y consumo y ofrecer un espacio como ámbito de encuentro. Por tal motivo, la Cultiva vincula la producción cultural -diseño, música, artes visuales- y la producción agroecológica de la agricultura familiar; es decir, trabaja con un concepto de cultura en su acepción más rica que incluye las artes, la producción de la tierra y la alimentación saludable. La intención es ligar el concepto de soberanía cultural con el de soberanía alimentaria que unifican esta propuesta.</p>
            <small>Fuente: <a href="https://inta.gob.ar/documentos/la-feria-cultiva-fue-declarada-de-interes-legislativo-por-la-camara-de-diputados-de-la-provincia-del-chaco">https://inta.gob.ar/documentos</a></small>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock contenido%}

<!-- {% if object_list|length != 0 %}
	{% for p in object_list %}
	<label for="">{{p.historia}}</label>

	<a href="{% url 'historia:modificarHistoria' p.pk %}">modificar</a>
	{% endfor %}
{% else %}
	<label for="">No historias</label>
	<a href="{% url 'historia:agregarHistoria' %}">nueva</a>
{% endif %}
 -->