{% extends 'base.html' %}
{% load static %}
{% block titulo %} Mi perfil {% endblock titulo%}
{% block contenido %}  
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/perfil.css' %}">
    </head>
<!-- Page Content -->
<header>
    <div class="container">
        <div class="row text-center" style="margin-top: 100px;">
            <div class="col-12">
                <h2 class="font-weight-light titulo">MI PERFIL</h2>
            </div>
        </div>
    </div>
</header>
<section class="" style="margin: 10px;" >
  <!-- Page Content -->
        <div class="container" >    
            <div class="jumbotron" style="background-color: #f5f5f5;">
                <div class="row">
                    <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                        <img src="{{user.foto_perfil.url}}" alt="stack photo" class="foto rounded-circle h-100 w-100">
                    </div>
                    <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">
                        <div class="container" style="border-bottom:1px solid black">
                            <h2 class="titulo">{{user.first_name}} {{user.last_name}}</h2>
                        </div>
                        <ul class="container details" style="margin-top: 10px;">
                            <p><span class="glyphicon glyphicon-earphone one" style="width:50px;"><i class="fas fa-phone"></i>  Teléfono: </span>{{user.telefono}}</p>
                            <p><span class="glyphicon glyphicon-envelope one" style="width:50px;"><i class="fas fa-envelope-square"></i>  Email: </span>{{user.email}}</p>
                            <p><span class="glyphicon glyphicon-map-marker one" style="width:50px;"><i class="fas fa-map-marker-alt"></i>  Dirección: </span>{{user.direccion}}</p>
                            <a href="{% url 'usuario:editarperfil' %}" style="color: #71a95a;" role="link" class="btn-link">Editar</a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
</section>
{% endblock contenido%}

<!-- 
    <div style="margin-top: 75px;">
        <form action="" method="POST"> {% csrf_token %}
            <label >Foto</label>
               {% if user.foto_perfil %}
                    <img src="{{user.foto_perfil.url}}" alt="foto">
                    {% else %}
                    <img src="" alt="no existe">
                {% endif %} 
            <input type="file" name="foto_perfil" value="{{user.foto_perfil.url}}"><br> 
            <label for="first_name">Nombre:</label>
            <input type="text" name="first_name" id="first_name" value="{{user.first_name}}">
            <label for="last_name">Apellido:</label>
            <input type="text" name="last_name" id="last_name" value="{{user.last_name}}">
            <label for="direccion">Direccion:</label>
            <input type="text" name="direccion" id="direccion" value="{{user.direccion}}">

            <input type="submit" value="Guardar">
            
        </form>
    </div>
 -->