{% extends 'base.html' %}
{% load static %}
{% block titulo%} Registro {% endblock titulo%}


{% block contenido %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/registro.css' %}">
</head>  
<header class="masthead" style="background-image: url({% static 'img/encabezado.png' %}) ">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light" id="titulo">Registrarse en Feria Cultiva</h1>
        <p class="lead"></p>
      </div>
    </div>
  </div>
</header>
<!-- Page Content -->
<section class="py-5" style="background-image: url({% static 'img/back.png' %}) ">

  <!-- Page Content -->
  <div class="container">
   <div class="row">    
    <div class="conteiner7 mx-auto" style="padding-bottom: 60px; width: 75%" >
        {% for x in messages %}
            <div class="alert alert-success">
                {{x}}
            </div>
            {% endfor %}
        <form data-v-88d1dfd6="" autocomplete="off" method="POST"  enctype="multipart/form-data" style="padding-left: 25px;" >
            {% csrf_token %}
            {{form.errors}}
            <div data-v-88d1dfd6="" class="row topMargin">
                <div data-v-88d1dfd6="" class="col-md-6">
                    <div data-v-88d1dfd6="" class="form-group">
                        <label data-v-88d1dfd6="" for="email">E-mail *</label> 
                        <input data-v-88d1dfd6="" type="email" maxlength="100" class="form-control" placeholder="Ingrese su correo electrónico" name="email">
                         
                        <span data-v-88d1dfd6="">
                            <small data-v-88d1dfd6="">Introduzca un email válido</small>
                        </span>
                    </div>
                </div> 
                <div data-v-88d1dfd6="" class="col-md-6">
                    <div data-v-88d1dfd6="" class="form-group">
                        <label data-v-88d1dfd6="" class="control-label">Nombre de usuario *</label> 
                        <input data-v-88d1dfd6="" type="text" maxlength="35" class="form-control" placeholder="Ingrese Nombre de Usuario" name="username">
                        
                    </div>
                </div> 
            </div>
            <div data-v-88d1dfd6="" class="row">
                <div data-v-88d1dfd6="" class="col-md-6">
                    <div data-v-88d1dfd6="" class="form-group">
                        <label data-v-88d1dfd6="" class="control-label">Nombre *</label> 
                        <input data-v-88d1dfd6="" type="text" maxlength="35" class="form-control" placeholder="Ingrese Nombre" name="first_name">
                    </div>
                </div> 
                <div data-v-88d1dfd6="" class="col-md-6">
                    <div data-v-88d1dfd6="" class="form-group">
                        <label data-v-88d1dfd6="" for="inputApellido">Apellido *</label> 
                        <input data-v-88d1dfd6="" type="text" maxlength="35" class="form-control" placeholder="Ingrese Apellido" name="last_name">
                    </div>
                </div>
            </div>
            <div data-v-88d1dfd6="" class="row">
                <div data-v-88d1dfd6="" class="col-md-6">
                    <div data-v-88d1dfd6="" class="form-group">
                        <label data-v-88d1dfd6="" for="dia">Dirección *</label> 
                        <input data-v-88d1dfd6="" type="text" class="form-control" placeholder="Ingrese Direccion" name="direccion">
                    </div>
                </div> 
                <div data-v-88d1dfd6="" class="col-md-6">
                    <div data-v-88d1dfd6="" class="form-group">
                        <label data-v-88d1dfd6="" for="telefono">Teléfono *</label> 
                        <input data-v-88d1dfd6="" type="tel" maxlength="35" class="form-control" name="telefono" placeholder="Ingresa tu número de teléfono">
                        <small id="passwordHelpInline" class="text-muted">Cod. de área + Número sin el 15</small>
                    </div>
                </div>
            </div>
            <div data-v-88d1dfd6="" class="row">
                <div data-v-88d1dfd6="" class="col-md-6">
                    <div data-v-88d1dfd6="" class="form-group">
                        <label data-v-88d1dfd6="" for="password">Contraseña *</label> 
                        <input data-v-88d1dfd6="" type="password" maxlength="35" class="form-control" placeholder="Ingrese Contraseña" name="password">
                        
                    </div>
                </div>
                <div data-v-88d1dfd6="" class="col-md-6">
                    <div data-v-88d1dfd6="" class="form-group">
                        <label data-v-88d1dfd6="" for="password_confirmation">Repetir contraseña *</label> 
                        <input data-v-88d1dfd6="" type="password" maxlength="35" class="form-control" placeholder="Ingrese Contraseña" name="password"> <!---->
                        
                    </div>
                </div>
            </div>
            <div data-v-88d1dfd6="" class="row">
                <div data-v-88d1dfd6="" class="col-md-6">
                    <div data-v-88d1dfd6="" class="form-group">
                        <label data-v-88d1dfd6="" for="password_confirmation">Foto de Perfil (Opcional)</label>
                        <br>
                        <img src="{% static 'img/user.png' %}"> 
                        <input type="file" name="foto_perfil">
                        <!-- <input type="submit" value="Enviar datos">-->
                    </div>
                </div>
                <div class="mx-auto">
                        <br>
                        <br>
                        <button class="btn btn-reg" type="submit">Finalizar Registro</button>
                        <a href="{% url 'login' %}">  Ya tengo cuenta</a> 
                </div>
            </div> 
        </form> 
    </div>
  </div>
</div>
</section>
    
{% endblock contenido %}

