{% extends 'base.html' %}
{% load static %}
{% block titulo%} Registro {% endblock titulo%}


{% block contenido %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/registro.css' %}">
</head>  
<header>
    <div class="container">
        <div class="row align-items-center" style="margin-top: 70px; ">
            <div class="col-12 text-center">
                <h1 class="font-weight-light titulo">Registrarse en Feria Cultiva</h1>
                <p class="lead"></p>
            </div>
        </div>
    </div>
</header>
<!-- Page Content -->
<section class=""  >
  <!-- Page Content -->
  <div class="container">



     

   <div class="row">    
    <div class="container h-100 " style=" padding-top: 15px; padding-bottom: 15px; margin-bottom: 30px;" >
   
        <form data-v-88d1dfd6="" autocomplete="off" method="POST"  enctype="multipart/form-data" style="padding-left: 25px;" >
            {% csrf_token %}
            
            <div data-v-88d1dfd6="" class="row topMargin">
                <div data-v-88d1dfd6="" class="col-md-6">
                    <div data-v-88d1dfd6="" class="form-group">
                        <label data-v-88d1dfd6="" for="inputApellido">Apellido </label> <span style="color: red;">*</span>
                        <input data-v-88d1dfd6="" type="text" maxlength="35" class="form-control" placeholder="Ingrese apellido" name="last_name">
                        {% if form.last_name.errors %}
                            <span class="form_error">
                                    El Apellido no es válido
                            </span>
                        {% endif %}
                    </div>

                </div> 
                <div data-v-88d1dfd6="" class="col-md-6">
                    <div data-v-88d1dfd6="" class="form-group">
                        <label data-v-88d1dfd6="" class="control-label">Nombre de usuario</label> <span style="color: red;">*</span> 
                        <input data-v-88d1dfd6="" type="text" maxlength="35" class="form-control" placeholder="Ingrese nombre de usuario" name="username">
                         <small class="text-muted">
                                      Ingrese un nombre de usuario sin espacios. 
                  </small>
                                  {% if form.username.errors %}
                  <span class="form_error">
                                      El nombre de usuario ya existe o tiene espacios en blanco, intente nuevamente.
                  </span>
                                  {% endif %}  
                        
                    </div>
                </div> 
            </div>
            <div data-v-88d1dfd6="" class="row">
                <div data-v-88d1dfd6="" class="col-md-6">
                    <div data-v-88d1dfd6="" class="form-group">
                        <label data-v-88d1dfd6="" class="control-label">Nombre </label> <span style="color: red;">*</span> 
                        <input data-v-88d1dfd6="" type="text" maxlength="35" class="form-control" placeholder="Ingrese nombre" name="first_name">
                        {% if form.first_name.errors %}
                            <span class="form_error">
                                    El Nombre no es válido.
                            </span>
                        {% endif %}
                    </div>
                </div> 
                <div data-v-88d1dfd6="" class="col-md-6">
                    <div data-v-88d1dfd6="" class="form-group">
                        <label data-v-88d1dfd6="" for="email">E-mail </label> <span style="color: red;">*</span>
                        <input data-v-88d1dfd6="" type="email" maxlength="100" class="form-control" placeholder="Ingrese su correo electrónico" name="email">
                        {% if form.email.errors %}
                    <span class="form_error">
                      La dirección de correo no es válida o ya está en uso, intente nuevamente.
                    </span>
                            {% endif %}
                    </div>
                </div>
            </div>
            <div data-v-88d1dfd6="" class="row">
                <div data-v-88d1dfd6="" class="col-md-6">
                    <div data-v-88d1dfd6="" class="form-group">
                        <label data-v-88d1dfd6="" for="dia">Dirección </label> <span style="color: red;">*</span>
                        <input data-v-88d1dfd6="" type="text" class="form-control" placeholder="Ingrese direccion" name="direccion">
                    </div>
                </div> 
                <div data-v-88d1dfd6="" class="col-md-6">
                    <div data-v-88d1dfd6="" class="form-group">
                        <label data-v-88d1dfd6="" for="password">Contraseña </label> <span style="color: red;">*</span>
                        <input data-v-88d1dfd6="" type="password" maxlength="35" class="form-control" placeholder="Ingrese contraseña" name="password1">
                         {% if form.password1.errors %}
                      <span class="form_error">
                                    La contraseña es muy común, verifique sea una combinación de letras (mayúsculas y minúsculas) y números. 
                      </span>
                                {% endif %}
                        
                    </div>
                </div>
            </div>
            <div data-v-88d1dfd6="" class="row">
                <div data-v-88d1dfd6="" class="col-md-6">
                    <div data-v-88d1dfd6="" class="form-group">
                        <label data-v-88d1dfd6="" for="telefono" >Teléfono </label> <span style="color: red;">*</span> 
                        <input data-v-88d1dfd6="" type="tel" maxlength="10" class="form-control" name="telefono" placeholder="Ingrese su número de teléfono">
                        <small id="passwordHelpInline" class="text-muted">Cod. de área + número sin el 15</small>
                    </div>

                </div>
                <div data-v-88d1dfd6="" class="col-md-6">
                    <div data-v-88d1dfd6="" class="form-group">
                        <label data-v-88d1dfd6="" for="password_confirmation">Repetir contraseña </label><span style="color: red;">*</span> 
                        <input data-v-88d1dfd6="" type="password" maxlength="35" class="form-control" placeholder="Ingrese contraseña" name="password2"> <!---->

                                {% if form.password2.errors %}
                      <span class="form_error">
                                    Las contraseñas no coinciden, o puede que sea muy común, verifique sea una combinación de letras (mayúsculas y minúsculas) y números e intente nuevamente. 
                      </span>
                      {% endif %}
                        
                    </div>
                </div>
            </div>
            <div data-v-88d1dfd6="" class="row">
                <div data-v-88d1dfd6="" class="col-md-6">
                    <div data-v-88d1dfd6="" class="form-group">
                        <label data-v-88d1dfd6="" for="foto_perfil">Foto de Perfil (Opcional)</label>
                        <br>
                        <img src="{% static 'img/user.png' %}"> 
                        <input type="file" name="foto_perfil">
                        <!-- <input type="submit" value="Enviar datos">-->
                    </div>
                </div>
                
            </div> 
            <div class="text-center">
                        <br>
                        <br>
                        <button class="btn" type="submit">Finalizar registro</button>
                        <a class="ancla-2" href="{% url 'login' %}">  Ya tengo cuenta</a> 
            </div>

        </form> 
    </div>
  </div>
</div>
</section>
    
{% endblock contenido %}

